.numberGrid_box:nth-child(10n + 0) {
    --box1: 0;
}

.numberGrid_box:nth-child(10n + 0) {
    --box: 0;
}

body {
    cursor: crosshair;
    text-transform: uppercase;
}

.swiper-wrapper {
    height: 50vh;
    position: relative;


    .swiper-slide {

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.side-scroll__section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* はみ出た部分を隠しておく */
}

.side-scroll__itemOuter {
    position: relative;
    height: 700px;
    width: 100%;

}

.side-scroll__itemInner {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    gap: 0 60px;
}

.side-scroll__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    height: 400px;
    width: 600px;

}

#realtime {
    font-size: 6rem;
    color: #fff;
}

.swiper-text {
    color: #fff;
    left: 5%;
    position: absolute;
    text-shadow: 1px 1px 2px #333;
    top: 50%;
    width: 60%;
}

.swiper-title {
    font-size: clamp(16px, 3vw, 50px);
    font-weight: 700;
}

.swiper-desc {
    font-size: clamp(12px, 2vw, 30px);
    line-height: 1.5;
    margin-top: 3%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 2rem;
}

img {
    width: 100%;
}

#youtube-area {
    position: fixed;
    z-index: 1;
    /*最背面に設定*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh;
    /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw;
    /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*youtubeがクリックされないためのマスク*/
#youtube-mask {
    position: absolute;
    z-index: 2;
    /*下から2番目に表示*/
    top: 0;
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 4rem;
    color: white;
}

#cont03 {}

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    // font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
}

.test {
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, 0px 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff;
    width: fit-content;
}

#image-sequence {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

.point {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1 1 15em;
    color: none;
    background-color: aqua;
    text-align: center;
}

.mainVisual {
    height: 300vh;
    background: #000;
    color: white;

    &Text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(2rem, -1.2rem + 16vw, 18rem);
        transition: transform 0.5s cubic-bezier(0.26, 0.06, 0, 1);
        animation-fill-mode: forwards;
    }

    &Text.on {
        position: fixed;
        animation-fill-mode: forwards;
    }
}

.header {
    color: rgb(255, 255, 255);
    max-width: 100vw;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;

    &_logo {
        width: 200px;
        height: 75px;
        background-color: white;
    }

    ol {
        display: flex;
        gap: 1rem;

        li {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 2rem;
        }
    }
}

#animals {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5rem;
    white-space: nowrap;
}

.background {
    background-color: black;
    position: relative;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-flow: column;

}

#videoWrap {
    height: 100vh;
}

.wrap{
    position: relative;
    z-index: 10;
    display: flex;
    flex-flow: column;
    gap: 8rem;
    padding: 16rem 2rem 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.padding-top{
    padding-top: 16rem;
}

.padding-right{
    padding-right:2rem;
}

.padding-left{
    padding-left:2rem;
}

.padding-bottom{
    padding-bottom:2rem;
}

.cont01 {
    &_box {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &_items {
        flex: 1 1 20rem;
    }

    &_item {
        width: 100px;
        height: 100px;
        background-color: rgb(109, 109, 109);
    }
}

.cont02_flex {
    display: flex;
    gap: 2rem;
}

.cont02_flex > *{
    flex-grow: 1;
    flex-shrink: 1;
}

@mixin picture_size($width){
    max-width: $width;
}



// .cont02 {
//     &_box {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 1rem;
//     }

//     &_items {
//         flex-shrink: 1;
//         flex-grow: 1;
//         flex-basis: 350px;
//         height: 550px;
//     }
// }

.oneClick {
    background-color: black;
    color: white;
}

.twoClick {
    background-color: cadetblue;
    color: chocolate;
}

.numberGrid {
    display: grid;
    width: 500px;
    height: 700px;
    grid-template-rows: 14.28571428571429% 14.28571428571429% 14.28571428571429% 14.28571428571429% 14.28571428571429% 14.28571428571429% 14.28571428571429%;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.cont03 {
    &_box {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &_items {
        flex-grow: 1;
        flex-basis: calc((20rem - 100%) * 999);
        height: 200px;
        background-color: white;
    }
}

.cont04 {
    &_box {
        display: flex;
        gap: 1rem;
    }

    &_box> :nth-last-child(n+5),
    &_box> :nth-last-child(n+5)~* {
        flex-basis: 100%;
        height: 100px;
        background-color: #ffffff;
    }
}

.cont05 {
    &_box {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &_box>* {
        flex-grow: 1;
        flex-basis: calc((30rem - 100%) * 999);
        height: 100px;
        background-color: #ffffff;
    }

    // 子要素が5個以上で垂直方向に配置切り替えを行う

    &_box> :nth-last-child(n+5),
    &_box> :nth-last-child(n+5)~* {
        flex-basis: 100%;

    }
}

.btn {
    position: relative;
    cursor: default;
}



.link--helike {
    // font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: bold;
}

.link--helike:hover span {
    animation: glitchText 0.4s linear;
}

@keyframes glitchText {
    0% {
        opacity: 1;
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    10% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    20% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    35% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    50% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    60% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    70% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    80% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    90% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.link--helike::before {
    height: 2px;
    opacity: 0;
}

.link--helike:hover::before {
    opacity: 1;
    animation: glitchLine 0.4s steps(2, start) forwards;
}

@keyframes glitchLine {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: translate3d(10px, 0, 0);
    }

    20% {
        transform: translate3d(0, 4px, 0);
    }

    30% {
        transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
        transform-origin: 100% 0%;
    }

    40% {
        transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
    }

    50% {
        transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
    }

    60% {
        transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
    }

    70% {
        transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
    }

    80% {
        transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
        transform-origin: 100% 0%;
    }

    90% {
        transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
        ;
        transform-origin: 0% 50%;
    }

    100% {
        opacity: 1;
    }
}



.flexNowrap {
    display: flex;
    white-space: nowrap;
    font-size: 12rem;
    text-transform: uppercase;

}

.padding {
    padding: 1rem 2rem;
}

.background-white {
    background-color: #fff;
    color: #000;
}


.right-animation {
    animation: marquee_right 100s linear infinite;

}

.left-animation {
    animation: marquee_left 100s linear infinite;

}

.overflow_hidden {
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes marquee_right {
    0% {
        transform: translateX(-600%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes marquee_left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-600%);
    }
}

/* グレー背景 */
.layer {
    background: rgba(0, 0, 0, .2);
    color: #000;
    /* 背景を薄くする */
    width: 100%;
    height: 100%;
    position: fixed;
    /* 画面に固定するために指定 */
    top: 0;
    left: 0;

    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.layer.is-open .modal {
    opacity: 1;
    visibility: visible;
}

/* モーダルコンテンツ */
.modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-width: 440px;

    opacity: 0;
    visibility: hidden;
}

.modal__inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    // box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    /* モーダルにシャドウをかける */
    // border-radius: 13px;
    /* モーダルの角を丸める */
    display: block;
    padding: 21px 8px 21px;
    height: auto;
}

.modal__content {
    padding-top: 15px;
    padding-bottom: 23px;
    display: flex;
    gap: 1rem;
}

.modal__button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
}

.close-button {
    position: relative;
    width: 39px;
    height: 39px;
    background: rgba(255, 166, 0, 0);
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
}

.close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
}

.close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
}

h1{
    font-size: 6rem;
    font-weight: bold;
}

h2{
    font-size: 4rem;
}

.picture_wrap{
    max-width: 500px;
    width: 100%;
    height: 500px;
    aspect-ratio: 1/1;
    display: block;

    img{
        height: 100%;
        object-fit: cover;
    }


}

.object-position_right{
    object-position: right;
}

.object-position_left{
    object-position: left;
}

.object-position_center{
    object-position: center;
}

.object-position_bottom{
    object-position: bottom;
}

.cursor_pointer{
    cursor: default;
}

