@charset "UTF-8";

@function getVw($fontSize, $viewport:480) {
	$rate: 100 / $viewport;
	@return $rate * $fontSize * 1vw;
}

@function getRatio($childPx, $parentPx) {
	@return ($childPx / $parentPx) * 100%;
}

@mixin fontSizeVw($font_size, $viewport:480) {
	font-size: $font_size * 1px;
	font-size: getVw($font_size, $viewport);
}

@mixin fontSizeRem($size, $base: 16) {
	font-size: $size + px;
	font-size: ($size / $base) + rem;
}

@mixin lineHeight($fontSizePx, $lineHeightPx) {
	line-height: ($lineHeightPx / $fontSizePx);
}

$mq-breakpoints: (
	'max': 1920px,
	'medium': 768px,
	'large' : 1080px,
	'xlarge': 1366px,
	'kvbreak': 1600px,
);

@mixin mq($breakpoint: medium) {
	@media screen and (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
		@content;
	}
}

$mq-breakpoints2: ('small': 321px,
	'medium': 769px,
	'large' : 1241px,
	'xlarge': 2001px,
);

@mixin mqFrom($breakpoint: medium) {
	@media screen and (min-width: #{map-get($mq-breakpoints2, $breakpoint)}) {
		@content;
	}
}